<div class="jumbotron">
  <h1>A Company Login</h1>
</div>

<a href="/hr"><button class="btn btn-success" type="button" name="button">HR Login</button></a>
<br>
<a href="/project"><button class="btn btn-info" type="button" name="button">Project Manager Login</button></a>
